In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeRegressor, plot_tree
from sklearn.model_selection import train_test_split, GridSearchCV

In [10]:
df = pd.read_csv('data/data2.csv', index_col='Date')

In [15]:
df.drop(columns=['Unnamed: 0'] ,axis=1,inplace=True)

In [16]:
df

,H1,H2,H3,H4,H5,H6,H7,H8,H9,H10,...,Semana,AÃ±o,Estacion,Precio_Maximo,Precio_Minimo,STD_diaria,Media_Precio_Maximo_mes,Media_Precio_Minimo_mes,Media_STD_diaria_mes,Fin_de_semana
Date,,,,,,,,,,,,,,,,,,,,,
2023-12-31,18.21,5.00,4.00,0.31,0.00,0.00,0.01,4.00,4.30,10.47,...,6.0,2023.0,4,101.30,0.00,34.817724,105.400000,47.593871,17.839671,1
2023-12-30,86.31,82.33,78.77,70.00,62.06,59.01,76.02,79.39,86.31,88.21,...,5.0,2023.0,4,88.21,42.04,15.102659,105.400000,47.593871,17.839671,1
2023-12-29,102.07,95.15,94.37,93.90,87.38,87.00,93.00,105.19,109.62,107.79,...,4.0,2023.0,4,126.72,87.00,11.380940,105.400000,47.593871,17.839671,0
2023-12-28,95.62,87.99,78.56,76.20,75.18,76.46,90.78,101.11,108.37,108.45,...,3.0,2023.0,4,128.46,75.18,15.580826,105.400000,47.593871,17.839671,0
2023-12-27,78.00,75.00,58.59,54.10,50.18,53.40,65.10,80.20,91.75,87.00,...,2.0,2023.0,4,121.53,50.18,21.143356,105.400000,47.593871,17.839671,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998-01-05,37.02,13.52,13.29,13.29,13.29,13.16,13.28,13.29,18.96,19.71,...,0.0,1998.0,4,38.77,13.16,10.268291,35.887097,17.280645,6.290465,0
1998-01-04,35.58,20.00,13.46,13.34,13.28,13.28,13.28,13.28,13.16,12.84,...,6.0,1998.0,4,40.75,12.84,10.984821,35.887097,17.280645,6.290465,1
1998-01-03,25.33,18.93,18.33,18.33,17.71,17.43,17.43,13.52,17.43,18.78,...,5.0,1998.0,4,25.33,13.52,2.713175,35.887097,17.280645,6.290465,1
1998-01-02,29.77,18.35,16.61,16.11,15.70,15.70,17.27,18.11,18.52,19.75,...,4.0,1998.0,4,29.77,15.70,4.636666,35.887097,17.280645,6.290465,0
1998-01-01,27.08,24.91,13.52,13.32,13.31,13.31,13.28,13.28,13.28,13.28,...,3.0,1998.0,4,28.90,13.28,6.522793,35.887097,17.280645,6.290465,0

In [17]:
df.columns

Index(['H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8', 'H9', 'H10', 'H11',
       'H12', 'H13', 'H14', 'H15', 'H16', 'H17', 'H18', 'H19', 'H20', 'H21',
       'H22', 'H23', 'H24', 'Media_del_dia', 'Punta', 'Llano', 'Valle', 'Mes',
       'Dia_mes', 'Dia_semana', 'Semana', 'AÃ±o', 'Estacion', 'Precio_Maximo',
       'Precio_Minimo', 'STD_diaria', 'Media_Precio_Maximo_mes',
       'Media_Precio_Minimo_mes', 'Media_STD_diaria_mes', 'Fin_de_semana'],
      dtype='object')

In [ ]:
pd.get_dummies(df['week'])