In [59]:
from seleniumwire import webdriver
from selenium import webdriver
from selenium.webdriver.firefox.firefox_binary import FirefoxBinary
from selenium.webdriver.firefox.options import Options
from selenium.webdriver.common.by import By

from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
from variables import URL, USER, PASSWORD, JAVI_CUPS

In [60]:
df_1 = pd.DataFrame()
driver = webdriver.Firefox()

In [63]:
driver.get(URL)

In [64]:
selectCompany = driver.find_element(By.NAME, "empresaLogin")
selectCompany.click()

In [65]:
selectCompanyElec = driver.find_element(By.ID, "select_option_3")
selectCompanyElec.click()

In [66]:
selectUser = driver.find_element(By.NAME, "usuario").send_keys(USER)

In [67]:
selectPassword = driver.find_element(By.NAME, "password").send_keys(PASSWORD)

In [68]:
enterButton = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/form/button').click()

In [69]:
# Dentro de candela

In [70]:
selectSids = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div[1]/div[1]/ul/li[3]/a').click()

In [71]:

enterCups = driver.find_element(By.ID, "input_6").send_keys(JAVI_CUPS)

In [72]:
consultButton = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div[1]/div[2]/div[1]/div[2]/md-tabs/md-tabs-content-wrapper/md-tab-content/div[1]/md-card/div[1]/form/div[4]/button').click()

In [73]:
columnTable = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div[1]/div[2]/div[1]/div[2]/md-tabs/md-tabs-content-wrapper/md-tab-content/div[1]/md-content/md-card/md-table-container/table/thead/tr')
dataTable = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div[1]/div[2]/div[1]/div[2]/md-tabs/md-tabs-content-wrapper/md-tab-content/div[1]/md-content/md-card/md-table-container/table/tbody/tr[2]')

In [74]:
def data_info_2TD(data, columns_list):

    columns_list = columnTable.text.split("\n")
    data = dataTable.text.replace(" KWh", "KWh")
    data = data.replace("KWh", "")
    data = data.split(" ")

    data[14] = ' '.join(data[14:18])
    del data[15:18]

    data_last = data[14:]
    del data[14:]

    for n0 in range(0,4):
        data.append(0)

    for d in data_last:
        data.append(d)
    
    table = pd.DataFrame(data)
    table["info"] = columns_list
    table.index = table["info"]

    table = table.T
    table.drop("info", inplace=True)

    return table

In [22]:
data = dataTable.text.replace(" KWh", "KWh")
data = data.replace("KWh", "")
data = data.split(" ")

data[14] = ' '.join(data[14:18])
del data[15:18]

data_last = data[14:]
del data[14:]

for n0 in range(0,4):
    data.append(0)

for d in data_last:
    data.append(d)

In [75]:
table = data_info_2TD(dataTable, columnTable)

In [76]:
table

info,Cups,Municipio,Provincia,Código Postal,Tarifa,Consumo anual,Consumo anual P1,Consumo anual P2,Consumo anual P3,Consumo anual P4,...,P2,P3,P4,P5,P6,Distribuidora,Último Cambio Comercializadora,Último Cambio BIE,Tensión,Último Cambio Contrato
0,ES0022000006250162PZ,Madrid,Madrid,28011,2.0TD,2.103,502,472,1129,0,...,"4,6",0,0,0,0,"UNION FENOSA DISTRIBUCION, S.A.",30/06/2009,27/05/2003,1X230,01/06/2021